@import 'fonts',
'media',
'variables';

* {
  // outline: 1px solid red;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-family-base);
  line-height: auto;
  letter-spacing: 2px;
  font-weight: 300;
  background-color: var(--color-light);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  // outline: 1px solid red;
}

.dark-section {
  background-color: var(--color-dark);
}

.light-section {
  background-color: var(--color-light);
}

.logo {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-family: 'Forum', sans-serif;

  &__image {
    margin-right: 25px;
  }
}

.section {
  padding: 4.69rem 0;
}

.title {
  font-family: 'Forum', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
  font-weight: 400;
  margin: 0;
  line-height: 5.625rem;
  padding-bottom: 1.5625rem;
}

.text {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 2.5rem;
  letter-spacing: 0px;
}

.radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  padding-left: 23px;
}

.radio-style {
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1px solid var(--color-dark);
  border-radius: 50%;
}

.radio-text {
  margin: 0 0 25px 40px;
  display: inline-block;
}

.radio-input:checked+.radio-style::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--color-dark);
  top: 5px;
  left: 5px;
}

.radio-label {
  display: block;
}

.gallery__img {
  // display: inline-block;
  // margin: 10px;
  // max-width: 450px;
  // height: auto;
  // width: 100%;
  
  transform: translateY(10%);
  transition: all 2s;
  opacity: 0;
}
.gallery__img.active {
  transform: translateY(0%);
  opacity: 1;
}

.parallax {
  width: 100%;
  height: 400px;
  background-image: url('../assets/img/parallax.jpg');
  background-size: cover;
  background-attachment: fixed;
}

iframe {
  border: none;
}

.header {
  color: var(--color-light);

  &__inner {
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    font-weight: 100;
    letter-spacing: 0.125rem;
    max-width: 775px;
    width: 100%;
    padding: 3.75rem 0;

    &-list {
      display: flex;
      justify-content: space-between;
    }

    &-link {
      &:hover {
        color: var(--color-gold);
      }
    }

  }

}

.welcome {
  color: var(--color-light);

  &__inner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3.75rem;
  }

  &__desc {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 9.375rem;

    &-title {
      font-family: 'Forum', sans-serif;
      font-size: 5rem;
      text-transform: uppercase;
      letter-spacing: 0.3125rem;
      font-weight: 400;
      margin: 0;
      margin-bottom: 1.56rem;
    }

    &-text {
      font-weight: 300;
      font-size: 1.75rem;
      margin-bottom: 4.69rem;
    }

    &-button {
      padding: 2rem 4rem;
      background-color: var(--color-dark-red);
      border-radius: 10px;
      font-size: 1.375rem;
      font-weight: 300;

      &:hover {
        color: var(--color-gold);
      }
    }
  }

  &__img {
    width: 100%;
    height: auto;

    &-wrapper {
      width: 1000px;
    }
  }
}

.visiting {
  &__title {
    color: var(--color-gold);
    border-bottom: 3px solid var(--color-dark-red);
    margin-bottom: 4.69rem;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4.69rem 0;
  }

  &__card {
    width: 440px;

    &-img {
      width: 100%;
      height: auto;
    }

    &-title {
      font-size: 2rem;
      font-family: 'Forum', sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0.3125rem;
      margin: 0;
      border-bottom: 2px solid var(--color-dark-red);
      padding-bottom: 0.625rem;
      padding-top: 1.56rem;
      margin-bottom: 0.625rem;
    }

    &-desc {
      font-weight: 100;
      font-size: 1.375rem;

      span {
        &:first-child {
          margin-bottom: 0.625rem;
        }

        &:last-child {
          font-size: 1.125rem;
        }
      }
    }
  }
}

.explore {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__desc {
    max-width: 660px;
    width: 100%;
    margin-bottom: 10.3rem;

    &-title {
      width: 100%;
      color: var(--color-light);
      border-bottom: 3px solid var(--color-dark-red);
      margin-bottom: 4.69rem;
    }

    &-text {
      color: var(--color-light);

      span {
        color: var(--color-gold);
      }
    }

  }

  &__slider {
    &-cover {
      position: relative;
      max-width: 720px;
      width: 100%;
    }

    &-half {
      position: absolute;
      top: 0;
      left: 0;
    }

    &-line {
      position: absolute;
      top: 0;
      right: 260px;
    }

  }
}

.video {

  &-main {

    width: 100%;
    height: auto;
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.69rem;

    &-title {
      color: var(--color-gold);
      padding: 0;
    }

    &-text {
      max-width: 720px;
      width: 100%;
    }
  }

  &__body {
    position: relative;
    margin-bottom: 2.5rem;
    max-width: 1440px;
    width: 100%;
    overflow: hidden;

  }

  &__range {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0 50px;
    bottom: 5px;
    left: 0%;
    background-color: var(--color-dark);
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

    &-input {
      max-width: 720px;
      width: 100%;
      height: 8px;

      -webkit-appearance: none;
      background: #710707;
      border-radius: 3px;
      outline: none;

      &::-webkit-slider-runnable-track {
        background: #710707;
        height: 6px;
        border-radius: 3px;
      }

      &::-moz-range-track {
        background: #710707;
        height: 6px;
        border-radius: 3px;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -5px;
      }

      &::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: none;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    &-input-vol {
      width: 145px;
      height: 15px;
    }
  }

  &__slider {
    position: relative;

    &-inner {
      display: flex;
      gap: 1.315rem 2.63rem;
      margin-bottom: 2.5rem;
    }

    &-indicators {
      position: absolute;
      bottom: -20%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 20px;
    }

    &-indicator {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #999;

      &.active {
        background-color: #333;
      }
    }
  }

}

.gallery {
  color: var(--color-light);

  &__container {
    width: 100%;
    // height: 1960px;
    overflow-y: hidden;
  }

  &__container-inner {
    width: 100%;
    // height: 2850px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
  //   padding: 50px 10px;
  // margin: 0 auto;
  }

  &__img {
    width: 400px;
    height: auto;
    display: inline;
  }
}

.tickets {
  &-title {
    color: var(--color-gold);
    border-bottom: 3px solid var(--color-dark-red);
    margin-bottom: 4.69rem;
  }

  &__body {
    width: 100%;
    display: flex;
    align-items: start;
    // justify-content: space-between;
  }

  &__wrapper {
    width: 720px;

    &-img {
      width: 100%;
      height: auto;
    }
  }

  &-subtitle {
    margin-bottom: 3.125rem;
  }

  &__form {
    width: 660px;
    display: flex;
    justify-content: space-between;

    &-subtitle {
      margin-top: 2.5rem;
      margin-bottom: 3.125rem;
      text-align: end;
    }

    &-type {
      width: 270px;
      margin-left: 60px;
    }

    &-amount {
      width: 150px;
      display: flex;
      flex-direction: column;

      &-title {
        text-align: end;
        margin-bottom: 1.56rem;
      }

      &-input {
        width: 100%;
        margin-bottom: 10px;
        border: 3px solid var(--color-dark);
        box-sizing: border-box;
      }

      &-span {
        margin-bottom: 10px;
        display: inline-block;
      }

    }

    &-link {
      padding: 13px 25px;
      background-color: var(--color-dark);
      color: var(--color-light);
      display: inline-block;
      letter-spacing: 2px;
      border-radius: 2px;
      text-align: center;

      &:hover {
        background-color: var(--color-dark-red);
      }
    }
  }
}

.contacts {
  &-title {
    color: var(--color-gold);
    border-bottom: 3px solid var(--color-dark-red);
    margin-bottom: 4.69rem;
  }

  &-subtitle {
    font-size: 1.75rem;
    margin-bottom: 3.125rem;
    font-weight: 500;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px 0;

    &-item {
      letter-spacing: 0;
    }
  }

  &__map {
    width: 960px;
    height: 620px;
    filter: grayscale(1);
  }
}

.footer {
  color: var(--color-light);

  &__top {
    padding: 75px 0 50px;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px 0;

    &-link {
      font-weight: 100;

      &:hover {
        color: var(--color-gold);
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      width: 363px;
    }
  }

  &__soc1als {
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    &-link {
      width: 48px;
      height: 48px;
      border: 1px solid var(--color-light);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      &:hover {
        background-color: var(--color-dark-red);
        border: 1px solid var(--color-dark);
      }
    }
  }

  &__bottom {
    border-top: 3px solid #666;
    padding: 50px 0;

    &-inner {
      display: flex;
      justify-content: space-between;

    }
  }

  &__link {
    font-weight: 100;
    letter-spacing: 2px;

    &:hover {
      color: var(--color-gold);
    }
  }
}